.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
   /* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   } */
  /* shared related style  */
  .display-flex{
    /* display: flex; */
     } 
     .header{
      /* border: 1px solid blueviolet; */
    }
  /* header styles  */
  .header, .navbar, .hero{
    max-width: 1140px;
    margin: 0 auto;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .header{
    position: relative;
    padding: 0 ;
    margin-top: 20px;

  }
  .navbar{
   width: 100%; 
   display: flex; 
   align-items: center;
   justify-content: space-between;
   text-align: center;
   /* margin: 20px 147px; */
  }
  .navbar .logo a{
    font-size: 2rem;
    font-weight: 500;
    color: black; 
    
  }
    .logo{ display: flex;
      justify-content: center;
     align-items: center;
     gap: 16px;
    }
   
 
  .navbar .links{
    display: flex;
    gap: 2rem;
    text-align: center;
  }
  #home{
    font-weight: 700;
    color: orange;

  }
  #about{
    color: skyblue;
  }
  #facilities{
    color: #05D4DF;
  } 
  #admission{
    color: #5D58EF;
  }
  .navbar .toggle-btn{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  .action-btn{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 8px 16px;
    color: white;
    background-color: orange;
    border-radius: 12px;
    cursor: pointer;
  } 
  hr{
    width:100%;
    height: 2px;
    border: 0 none;
    margin: 5px auto 20px auto; 
    background-color: orange;
    cursor: pointer;
    display: none;

  } 
  /* hero style  */
  .hero{
    display: flex;
    justify-content: space-between;
       align-items: center;
    gap: 50px;
    margin-top: 20px;
    max-width: 1158px;
  }
  .hero-contant{
  max-width: 640px;
    margin: 0 auto;
   
  }
     
    .hero-title{
      font-weight: 700;
      font-size: 3.5rem;
     text-align: start;
     margin-bottom: 20px;
    }
    .part-1{
      color: orange;
    } 
    .part-3{
      color: skyblue;
    } 
    .hero-description{
      font-size: 1.25rem;
      font-weight:400 ;
      text-align: start;
      margin-top: 24px;
    }
    .btn{
      font-size: 1.25rem;
      font-weight: 700;
      color: white;
      background-color: black;
      padding: 10px 47px;
      border-radius: 12px;
      margin-top: 24px;
         }
          
      .hero-img{
      max-width: 468px;
    }


  /* responsive */
  @media screen and (max-width:576px){
    .navbar .links,
.navbar .action-btn{
  display: none;
}
.header{
  padding:7px;
}  
.navbar{
  width:100%;
  padding: 0px;
  
}  

.logo a{
  display: none;
 
}
.navbar .toggle-btn{
  display: block;
} 
hr{
  display: block;
 
}
.hero{
  flex-direction: column-reverse;
  gap: 0;
  /* max-width:50%; */
  margin: 0;
  margin-top: 0;
}

.hero-img{
  max-width: 90%;
  align-items: center;
}
  .hero-contant{
  max-width:85%;
}

.btn{
   margin-top: 4px;
     }
     .hero-description{
     
      margin-top:0px;
    }
    .hero-title{
      font-weight:500;
      font-size: 2rem;
     margin-top: 10px;
     margin-bottom: 0;
             
    }
  }